/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-bg: #ff0070;
  --border-color: #ff007040;
}

.theme-dark .page {
  background-image: url("../images/cover-image-dark.png");
}

