:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-bg: #ff8dcb;
  --border-color: #353430;
}

.theme-light .page {
  background-image: url("../images/cover-image-light.png");
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-bg: #ff8dcb;
    --border-color: #353430;
  }

  .rec {
    display: none;
  }

  .page {
    background-image: url("../images/cover-image-light.png");
  }
}
