.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-main);
}


.header {
  min-height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}


.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}


.rec {
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  color: var(--accent-color);
}

.rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-inline-start: 5px;
  border-radius: 50%;
  background: var(--accent-color);
}


.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: none;
  text-transform: lowercase;
  padding: 5px 10px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--border-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: currentColor;
}


.header__title {
  margin-block: auto;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  color: var(--title-color);
  text-shadow: var(--shadow);
}


.title-decor {
  background-color: var(--accent-bg);
  color: #000028;
  padding: 5px;
  display: inline-block;
}


.content {
  padding: 40px 10px;
  display: grid;
  gap: 70px;
}

.section__title {
  color: var(--accent-color);
  font-size: 20px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  gap: 20px;
}

.card__title {
  margin-bottom: 10px;
}

.card__text {
  line-height: 1.4;
}


.gallery {
  display: grid;
  gap: 20px;
}

.gallery__grid {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.footer {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: var(--shadow);
}


@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .content {
    padding: 60px 20px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .gallery__image:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }
}


@media (min-width: 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, auto);
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
